body {
  font-family: Garamond, serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #333; /* Dark background */
  color: #fff; /* Light text color for contrast */
  margin-top: 80px
}

header {
  background: #222;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%
}

header h1 {
  margin: 0;
}

nav {
  text-align: left;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
  text-align: left;
}

nav ul li a {
  color: #4287f5;
  text-decoration: none;
  text-align: right;
}

section {
  padding: 2rem;
  margin: 2rem auto;
  max-width: 800px;
  background: #333; /* Dark background for section */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #fff; /* Light text color for section */
}

section h2 {
  margin-top: 0;
}

.project {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff; /* White background for project cards */
  color: #333; /* Dark text for visibility */
}
